/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  height: 100vh;
  width: 100%;
  background-color: #E86D98;
 }


 #header {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #header a {
  text-decoration: none;  
  width: 100%;
  color: yellow;
 }

 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
 }

 form {
  display: flex;
  gap: 6px;
 }

 @media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
 }

 #form {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #3251EB;
  width: 50%;
  border-radius: 54%;
 }

 #form label {
  color: #FFA178;
 }

 #photos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #3DECFF; 
  /* width: 70%; */
  padding: 20px;
  margin-bottom: 24px;
 }